@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'side'
      'footer';
  }
}

@media only screen and (min-width: 860px) {
  body {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      'header header header'
      'main main side'
      'footer footer footer';
  }
}

* {
  box-sizing: border-box;
}

.introduction {
  background-image: url('./img/Enter1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerG {
  user-select: none;
}
/* SHOW CASE ITEMS */

.showcase {
  position: absolute;
  top: 1%;
}
/* INTRO GRIDS */

.introH1,
.introH2,
.introH3 {
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: 'Great Vibes', cursive;
  font-size: 4vw;
  height: 18vh;
  text-shadow: 0 0 11px black;
  display: flex;
  animation: float 6s ease-in-out infinite;
}
link {
  text-underline-offset: none;
}
.introH1 {
  background-image: url('./img/background.jpg');
  color: #614983;
}

.introH2 {
  background-image: url('./img/jupiter.png');
  color: #421d75;
}
.introH3 {
  background-image: url('./img/home.jpg');
  color: #fff8e3;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.introH1:hover {
  text-shadow: 0 8px 16px rgba(218, 27, 27, 0.841);
}
.introH2:hover {
  text-shadow: 0 8px 16px rgba(218, 27, 27, 0.841);
}
.introH3:hover {
  text-shadow: 0 8px 16px rgba(218, 27, 27, 0.841);
}
@media (max-width: 600px) {
  .introH1,
  .introH2,
  .introH3 {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 600px) {
  .introH1 {
  }
}
.introH4 {
  margin: 0;
  margin-top: -100px;
  font-family: 'Satisfy', cursive;
  padding-bottom: 10px;
  font-size: 1.8vw;
  text-align: center;
  text-shadow: 0 0 10px black;
  color: #fff;
}
@media (max-width: 600px) {
  .introH4 {
    font-size: 3vw;
    text-align: center;
  }
}
.container {
  position: relative;
  background-size: cover;
  user-select: none;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url('./img/background.jpg');
}

.musicButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: #234467;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 9999;
}

.homePage {
  background-image: url('./img/home.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER CSS */

.hidden {
  display: none;
}

/* Game Start */

#gameStart {
  position: absolute;
  top: 40%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  padding: 25px;
  background-color: #234467;
  opacity: 0.5;
  color: #fff;
  font-family: teko;
  border: none;
  cursor: pointer;
  font-size: 100px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  #gameStart {
    font-size: 50px;
  }
}
#tryAgain {
  position: relative;
  top: 20%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #234467;
  opacity: 0.5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
}
#gameStart:hover {
  opacity: 1;
}
#gameOver {
  position: absolute;
  font-family: teko;
  top: 40%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  padding: 25px;
  background-color: #bb1d0f;
  opacity: 0.5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 100px;
  border-radius: 5px;
}
#gameOver:hover {
  opacity: 1;
}
#tryAgain:hover {
  opacity: 1;
}
/* Responsive Styles */
@media (max-width: 600px) {
  .center-container {
    padding: 0 20px; /* Add padding for smaller screens if needed */
  }
}

.container-button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  height: 100vh;
}

/* GAME  */
.gameContainer {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
/* GunCursor.css */
.gun-cursor {
  width: 50px;
  height: 30px;
  background: url('img/wand.svg') no-repeat center center;
  background-size: contain;
  position: absolute;
  pointer-events: none;
  transform: translate(-60%, -36%); /* Center the cursor */
}
@media (max-width: 600px) {
  .gun-cursor {
    width: 60px;
    height: 60px;
    background-image: url('img/wand.svg');
  }
}
.box1 {
  background-color: #e74c3c; /* Red */
}

.box2 {
  background-color: #2ecc71; /* Green */
}

.box3 {
  background-color: #f39c12; /* Orange */
}

.game-box {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: none;
  /* background-image: url('./img/target4.png'); */
  animation: float 6s ease-in-out infinite;
  background-size: cover;
  text-decoration: none;
  position: absolute;
  display: block;
  z-index: 0;
}
.game-box2 {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./img/target.png');
  animation: float 1s ease-in-out infinite;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  border: none; /* Remove the border */
  z-index: 1;
}
@media (max-width: 600px) {
  .game-box {
    width: 80px;
    height: 80px;
  }
}

.scoreBoard {
  font-family: bungee spice;
}
.boarderScore {
  background: rgba(51, 81, 170, 0.3); /*  70% opaque green */
  width: 300px;
  text-align: center;
  padding-top: 30px;
  border-radius: 5px;
  height: 270px;
  margin-left: 2%;
}
@media (max-width: 600px) {
  .boarderScore {
    width: 150px;
    height: 150px;
    font-size: 10px;
  }
}
h1.highlight {
  position: fixed;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 26px; /* Adjust the font size as needed */
  font-family: bungee spice;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 130px;
  transition: background-color 0.5s;
  width: 20%;
  max-width: 400px;
  font-size: 2em;
  text-align: center;
  line-height: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  white-space: nowrap;
}
@media (max-width: 600px) {
  h1.highlight {
    font-size: 10px;
    margin-top: 30px;
  }
}
span {
  color: #000;
  font-size: 2em;
  text-transform: lowercase;
  vertical-align: middle;
  letter-spacing: 0.2em;
}

.fire {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
  animation: animation 0.65s ease-in-out infinite alternate;
  -moz-animation: animation 0.65s ease-in-out infinite alternate;
  -webkit-animation: animation 0.65s ease-in-out infinite alternate;
  -o-animation: animation 0.65s ease-in-out infinite alternate;
}

@keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-moz-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-webkit-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-o-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}
/* GAME OVER */
.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: red;
  display: none;
}

/* HEADER */

.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.burger-icon div {
  width: 30px;
  height: 4px;
  background-color: #ca6666;
  transition: 0.4s;
}

.menu {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  position: fixed;
  top: 10%;
  right: -300px;
  height: 60%;
  width: 100px;
  transition: 0.5s;
  z-index: 1;
}

.menu.open {
  right: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
}

/* SCORE */
.overwhelm {
  font-family: teko;
  font-size: 22px;
  color: rgb(216, 221, 228);
  text-shadow: 0 0 10px #c2b5b4;
}
@media (max-width: 600px) {
  .overwhelm {
    font-size: 15px;
  }
}
#center {
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#score {
  transform-style: preserve-3d;
  font-size: 90px;
  line-height: 90px;
}
#tag {
  transform-style: preserve-3d;
  display: none;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  line-height: 50px;
}
#title {
  transform-style: preserve-3d;
  position: absolute;
  top: -125px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 70px;
  line-height: 70px;
}

.score {
  transition: color 0.5s ease; /* Example transition effect on color change */
}

.tag {
  animation: fadeInOut 11s linear;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-55px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(55px);
  }
}
#score {
  font-family: teko;
  font-size: 60px;
  color: #2ecc71; /* Make text transparent */
  bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text; /* Standard property */
  text-shadow: 0 0 10px #e8eaec;
}

.powerUp {
  margin: 10px auto;
  width: 250px;
  letter-spacing: 2px;
  border-radius: 8px;
  font-family: 'Skranji', cursive;
  color: #ffc000;
  z-index: 99999;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  position: relative;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
}
.powerUp:hover {
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}
.powerUp:active {
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}
@media (max-width: 600px) {
  .powerUp {
    width: 120px;
    font-size: 10px;
  }
}

.fullscreen1 {
  background-color: #614983;
  border-radius: 10px;
  position: fixed;
  left: 150px;
}
@media (max-width: 600px) {
  .fullscreen1 {
    font-size: 5px;
    left: 60px;
  }
}
/* TITLE */

.thirteen h1 {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  border: 2px solid #222;
  color: #c50000;
  font-family: teko;
  padding: 5px 11px 3px 11px;
}
.thirteen h1:before,
.thirteen h1:after {
  background-color: #c50000;
  position: absolute;
  content: '';
  height: 7px;

  width: 7px;
  border-radius: 50%;
  bottom: 12px;
}
.thirteen h1:before {
  left: -20px;
}
.thirteen h1:after {
  right: -20px;
}
/* ------- Helper Styles -------------*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sayan {
  background-position: contain;
  background-size: cover;
  display: flex;
  position: absolute;
  top: 20px;
  width: 100px;
  height: 150px;
  left: 5;
}
@media (max-width: 600px) {
  .sayan {
    background-position: contain;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
    left: 0;
  }
}
.sayan2 {
  background-position: contain;
  background-size: cover;
  display: flex;
  position: absolute;
  top: 20px;
  width: 100px;
  height: 150px;
  left: 5;
}
@media (max-width: 600px) {
  .sayan2 {
    background-position: contain;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
    left: 0;
  }
}

.greenTime {
  color: #2ecc71;
}

/* JUPITER WORLD */
.JupiterScore {
  z-index: 999;
  text-align: center;
  color: #2ecc71;
  font-family: 'Orbitron', sans-serif; /* Use a sci-fi font or choose your own */
  font-size: 2em; /* Adjust the font size as needed */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Text shadow for a futuristic look */
  margin-top: 20px; /* Adjust the margin as needed */
}

/*  */
.islandCanvas {
  position: absolute;
  display: inline-block;
  color: #fff;
  width: 450px;
  height: 350px;
  bottom: 10%;
}
.infoGame {
  background: rgba(53, 78, 53, 0.7); /*  70% opaque green */
  padding: 10px;
  border-radius: 30px;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  color: #2ecc71;
}
.rotate {
  font-family: bungee spice;
  font-size: 15px;
}
#ghostKitty {
  width: 250px;
  height: 250px;
  bottom: 55px;
}
@media (max-width: 600px) {
  #ghostKitty {
    width: 350px;
    height: 350px;
    left: -10px;
    position: absolute;
  }
}
/* nodes.Roundcube_Atlas_E_0.geometry */
.completed {
  width: 1100px;
  height: 100vh;
}
@media (max-width: 600px) {
  .completed {
    width: 500px;
    transform: translate(0, -20%);
  }
}
